[submodule "libraries/glfw"]
	path = libraries/glfw
	url = git://github.com/glfw/glfw.git
[submodule "libraries/glwt"]
	path = libraries/glwt
	url = git://github.com/rikusalminen/glwt.git
[submodule "libraries/tinyxml2"]
	path = libraries/tinyxml2
	url = git://github.com/leethomason/tinyxml2.git
[submodule "libraries/zlib"]
	path = libraries/zlib
	url = git://github.com/madler/zlib.git
[submodule "libraries/OpenGL-Registry"]
	path = libraries/OpenGL-Registry
	url = https://github.com/KhronosGroup/OpenGL-Registry.git
[submodule "libraries/bounce"]
	path = libraries/bounce
	url = https://github.com/irlanrobson/bounce.git
[submodule "libraries/json11"]
	path = libraries/json11
	url = https://github.com/dropbox/json11.git
[submodule "libraries/tiny-json"]
	path = libraries/tiny-json
	url = https://github.com/rafagafe/tiny-json.git
[submodule "libraries/SimpleJSON"]
	path = libraries/SimpleJSON
	url = https://github.com/nbsdx/SimpleJSON.git
